#app3>div {
    margin-top: 20vh;
    margin-left: 10vh;
    width: 5vw;
    height: 5vw;
    border: 1px solid black;
    transition: transform 1s linear ;
}

#app3>div.active{
  transform: translateX(15vw);
}